*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    background-color: rgb(255, 247, 236);
}

.header{
    display:flex ;
    justify-content: space-between;
}

.circle-container{
    border-radius: 50px;
    border: 20px;
    border-color: aqua;
    height: 60px;
    width: 60px;
    
    
}
p{
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(5, 49, 96);
    font-size: 40px;
    font-family: Playfair Display, Arial, sans-serif;   
    line-height: 1.5;                
    text-align: center;               
    font-weight: bold;                
    text-decoration: none;
}

section a{
    text-decoration: none;
    align-items: center;
    text-align: center;  
}

nav{
    /* background-color: rgb(243, 243, 197); */
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
    font-family: playfair Display,Arial, sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

h2, h3{
    color: rgb(2, 2, 119);
    font-family: playfair Display, Arial, sans-serif;
    line-height: 1.5;                
    text-align: center;               
    font-weight: bold;                
    text-decoration: none;
    background-color: rgb(211, 212, 209);
    
} 
body{
    font-family: Merriweather, Arial, sans-serif;
    line-height: 2ch;
}
table {
    border-collapse: collapse;
}
#contact{
    background-color: #f0f0f0;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    max-width: 600px;
}

#res{
    /* background-color: antiquewhite; */
    border: 2px solid black;
    text-align: center;
    
}
.inres a{    
    background-color: rgb(242, 235, 236);
    margin: 1px;
    padding: 1px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: inherit; 
    
}
.inres:hover{
    background-color: rgb(99, 99, 114);
}

.links{
    display: flex;
    padding: 9px;
    justify-content: auto  ;
    align-items: center;
}
input{
    width: 90%;
    border-radius: 3px;
    cursor: text;
    height: 25px;
}
button{
    width: 90%;
    border-radius: 4px;
    cursor: pointer;
    line-height: 30px;    
}
textarea{
    width: 90%;
    
}
fieldset{
    width: 100%;

}

